<%= form_with url: login_path, class: 'ui form' do |form| %>
  <h2 class="ui header">
    Welcome to Office Hours Queue
    <div class="sub header">
      Sign in to request help during office hours.
    </div>
  </h2>
  
  <div class="field">
    <div class="ui left icon input">
      <i class="mail icon"></i>
      <%= form.email_field :email, placeholder: 'Email address' %>
    </div>
  </div>

  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= form.password_field :password, placeholder: 'Password' %>
    </div>
  </div>

  <%= button_tag 'Log in', class: 'ui fluid submit button' %>
  <br />
  <a href="/users/new">Don't have an account? Sign up here!</a>
<% end %>
