<div id="welcome">
  <div class="ui container">
    <div class="ui middle aligned grid">
      <div class="seven wide column">
        <%= render 'sessions/login' %>
      </div>
      <div class="seven wide column">
        <%= image_tag 'question.jpg', style: 'height: 700px;' %>
      </div>
    </div>
  </div>
</div>
