<%= render 'layouts/nav' %>

<div class="ui grid container">
  <div class="centered row" style="margin-top: 48px;">
    <div class="twelve wide column">
      <div class="ui segment" style="padding: 12px 48px 36px 48px;">
        <%= render 'edit_form', user: @user %>
      </div>
    </div>
  </div>
</div
