<div id="welcome">
  <div class="ui container">
    <div class="ui middle aligned stackable grid">
      <div class="seven wide column">
        <div class="ui stacked segment">
          <%= render 'signup_form', user: @user %>
        </div>
      </div>
      <div class="seven wide column">
        <%= image_tag 'question.jpg', style: 'height: 700px;' %>
      </div>
    </div>
  </div>
</div>
