<div class="ui fixed inverted secondary large menu" style="background-color: #7BC4D3;">
  <div class="ui container">
    <%= link_to 'Office Hours Queue', '/', method: :get, class: 'item' %>
    <%= link_to 'Courses', '/courses', method: :get, class: 'item' %>
    <div class="right menu">
      <a class="item">
        Account
      </a>
      <%= link_to 'Logout', '/logout', method: :delete, class: 'item' %>
    </div>
  </div>
</div>
