<%= render 'layouts/nav' %>

<div class="ui grid container">
  <div class="centered row" style="margin-top: 48px;">
    <div class="twelve wide column">
      <div class="ui segment" style="padding: 40px 48px 36px 48px;">
        <div class="sixteen wide column">
          <h2 class="ui header">
            Edit Course
            <div class="sub header">
              Update course description and manage staff members
            </div>
          </h2>
          <%= render 'edit_form', course: @course %>
        </div>
      </div>
    </div>
  </div>
</div>
