@import "semantic-ui";

#welcome {
  margin-top: 14px;
  background-color: #7BC4D3;
  height: 100%;
}

.sky {
  color: #7BC4D3;
}

.ui.sky.button {
  background-color: #98E2F2;
}

.ui.sky.button:hover {
  background-color: #7BC4D3;
}

.ui.selectable.table > tbody > tr {
  cursor: pointer;
}
