// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
  margin-top: 14px;
  background-color: #7BC4D3;
  height: 100%;
}
