<div class="ui fixed inverted secondary large menu" style="background-color: #7BC4D3;">
  <div class="ui container">
    <%= link_to 'Office Hours Queue', '/', method: :get, class: 'item' %>
    <%= link_to 'Courses', '/courses', method: :get, class: 'item' %>
    <div class="right menu">
      <div class="ui right aligned search item" id="nav-search">
        <div class="ui icon small input">
          <input class="prompt" type="text" placeholder="Search">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <%= link_to current_user.name, current_user, class: 'item' %>
      <%= link_to 'Logout', '/logout', method: :delete, class: 'item' %>
    </div>
  </div>
</div>
